__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
*.egg-info/
.DS_Store
backend/outputs/*.json
!outputs/.gitkeep
.env
augraphy_cache/
backend/outputs/**/crops/*
backend/outputs/crops/*
/frontend/node_modules/